

.dream-table-container {
  background-color: #ffffff !important;
  align-items: center;
  max-height: 500px; /* Adjust based on your needs */
  overflow-y: auto; /* Enables vertical scrolling */
  width: 100%;
  border-radius: 1em;
  margin: 3em 5em 2em 2em;
}

.dream-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: "Oxygen", sans-serif;
  min-width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.dream-table thead tr {
  background-color: #b8e1de;
  color: #434343;
  text-align: center;
  height: 4em;
}

.dream-table th,
.dream-table td {
  padding: 12px 15px;
  text-align: left;
}

.dream-table tbody tr {
  border-bottom: 1px solid #4a4a4a;
}

.dream-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.dream-table tbody tr:last-of-type {
  border-bottom: 2px solid #323333;
}

/* Responsive table */
@media screen and (max-width: 600px) {
  .dream-table thead {
    display: none;
  }

  .dream-table tbody td {
    display: block;
    padding: 0.625em 0.625em;
  }

  .dream-table tbody tr td:first-child {
    background: #f0f0f0;
    font-weight: bold;
  }

  .dream-table tbody tr {
    margin-bottom: 0.625em;
  }
}
