html,
body {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: #202124;
  min-height: 100vh;
  height: 100%;
  overflow-y: auto;
}

.oxygenLight {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
}

.oxygenRegular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  color: white;
}

.oxygenBold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  color: #424242;
  text-align: left;
  font-size: 2em;
}

.container > .dream-input {
  background-color: #b8e1de;
  grid-column: 2 / 6;
  grid-row: 2 / 6;
  border-radius: 8%;
}

.container > .dream-analysis {
  background-color: #dda1f7;
  grid-column: 7 / -2;
  grid-row: 2 / 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
}
.container > .dream-table-component {
  background-color: #dda1f7;
  grid-column: 5 / -2;
  grid-row: 2 / 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
}

@media (max-width: 950px) {
  .oxygenBold {
    font-size: 1.6em;
    font-weight: 600;
  }
}

/* Media query for mobile devices */
@media (max-width: 800px) {
  .oxygenBold {
    font-size: 1.5em;
  }
  .container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 1em;
  }

  .container > div:nth-child(1n) {
    grid-column: 1 / -1;
    grid-row: 2 / 7;
    border-radius: 0;
  }

  .container > div:nth-child(2n) {
    grid-column: 1 / -1;
    grid-row: 7 /12;
    border-radius: 0;
  }
}
