.user-container {
  display: grid;
  grid-gap: 5px;
  /* grid-template-columns: repeat(auto-fill, minmax(5em, 1fr)); */
  /* grid-auto-rows: 8em 30em; */
  margin-top: 4em;
}

.user-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: none !important;
}


.label {
  font-size: 1.3em !important;
  font-weight: 700 !important;
  color: white;
  margin-top: -3em;
}

